<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if flash[:errors] %>
            <div class="form-error">
                <%= flash[:errors] %>
            </div>
        <% end %>
        <%= form_with url:'/login' do %>
            <p>ID</p>
            <input name="sid">
            <p>パスワード</p>
            <input type="password" name="password">
            <input type="submit" value="ログイン">
        <% end %>
       </div>
    </div>
  </div>
</div>