<div class="main top-main">
  <div class="top-message">
    <h2>Fs/Ax PORTAL</h2>
      <div class="top-menu">
        <%= link_to("申請者はこちら","/login") %>
      </div>
      <div class="top-menu">
        <%= link_to("管理者はこちら","/adlogin") %>
      </div>
      
    
  </div>
  
</div>